custom_color_contrast 0.3
custom_color_mode_empty_background_color #1d2021
page_separator_color #1d2021
page_separator_width 10
custom_background_color #282828
custom_text_color #fbf1c7
search_highlight_color #7ec16e
status_bar_color #458588
status_bar_text_color #ebdbb2

startup_commands    toggle_custom_color;_import_annotations

should_launch_new_instance 1

shared_database_path /Users/dennisfeldbusch/Google Drive/My Drive/Sioyek/shared.db

new_command _import_annotations python -m sioyek.import_annotations %{sioyek_path} %{local_database} %{shared_database} %{file_path}

new_command _remove_annotations python3 -m sioyek.remove_annotation %{sioyek_path} %{local_database} %{shared_database} %{file_path} %{selected_rect}

new_command _dual_panelify python3 -m sioyek.dual_panelify %{sioyek_path} %{file_path} %{command_text}

execute_command_b python /usr/local/bin/embedded_annotations.py bookmark %1 %4 %{mouse_pos_document} %5

new_command _highlight_export python3 /Users/dennisfeldbusch/sioyek/scripts/embedded_annotations.py highlight %1 %4 %3

new_command _overwrite_files python3 /Users/dennisfeldbusch/.config/sioyek/embed_annotations_in_file.py %{sioyek_path} %{local_database} %{shared_database} %{file_path}

new_command _embed_annotations_in_file python3 /Users/dennisfeldbusch/.config/sioyek/embed_annotations_in_file.py %{sioyek_path} %{local_database} %{shared_database} %{file_path}

